<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xl.activity" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.xl.application.AppClass_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"  >
        <activity
            android:name="com.xl.activity.MainActivity_"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name="com.xl.activity.Welcome_"
            android:label="@string/app_name" >

        </activity>-->
        <activity
            android:name="com.xl.activity.chat.ChatActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.xl.activity.setting.HelpActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.xl.activity.setting.SettingActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.xl.activity.chat.ImageViewActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity
            android:name="com.xl.game.GameActivity_"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <!--<activity
            android:name="com.xl.game.PinTuActivity_"
            android:screenOrientation="portrait">
            &lt;!&ndash;<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>&ndash;&gt;
        </activity>-->


        <!--<activity
            android:name="com.xl.activity.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Animation.Translucent"></activity>-->

        <service
            android:name="com.xl.service.PushService_"
            android:enabled="true"
            android:process=":push"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.xl.keepalive.START" />
                <action android:name="com.xl.keepalive.STOP" />
                <action android:name="com.xl.keepalive.KEEP_ALIVE" />
                <action android:name="com.xl.keepalive.RECONNECT" />
            </intent-filter>
        </service>

        <receiver android:name="com.xl.receiver.XLReceiver_" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.xl.broadcast.startchat" />
            </intent-filter>
        </receiver>
        <!--<receiver android:name="com.xl.receiver.BootCompletedAlarmReceiver_" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->
        <!--<activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1103269048" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />-->

        <!-- 友盟 -->
        <meta-data android:value="54af4845fd98c5569900016a" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="LIAOSHAO" android:name="UMENG_CHANNEL"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
            android:name="com.umeng.fb.ConversationActivity"/>

        <!--有米-->
        <activity
            android:name="net.imageloader.tools.imaadg"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="net.imageloader.tools.imajdg" >
        </service>
        <receiver
            android:name="net.imageloader.tools.imahdg" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!--高德地图-->
        <!--<meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ae24a52637ad277fec4e4f3d2563c256" />-->
        <!--debug-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7832c924043c5b617b903e2d9f5caa4a" />

    </application>

</manifest>
