<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xl.activity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

    <application
        android:name="com.xl.application.AppClass_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xl.activity.MainActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppBaseThemeNoActionBar5"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.xl.activity.chat.ChatActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".girl.GirlChatActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/radio_renzheng"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.xl.activity.setting.HelpActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.xl.activity.setting.SettingActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/action_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.xl.recorder.FFmpegRecorderActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/radio"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.xl.activity.chat.ImageViewActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity
            android:name=".pay.PayActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/be_vip"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".chat.ChatListActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xl.game.GameActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.xl.game.PinTuActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="com.xl.service.PushService_"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xl.keepalive.START"/>
                <action android:name="com.xl.keepalive.STOP"/>
                <action android:name="com.xl.keepalive.KEEP_ALIVE"/>
                <action android:name="com.xl.keepalive.RECONNECT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.xl.receiver.XLReceiver_">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.xl.broadcast.startchat"/>
            </intent-filter>
        </receiver>

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54af4845fd98c5569900016a"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService">
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
            android:name="com.umeng.fb.ConversationActivity"/>

        <!--有米-->
        <activity
             android:name="a.b.c.ActivityA"
             android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
             android:theme="@android:style/Theme.NoTitleBar" >
         </activity>
         <service
             android:name="a.b.c.ServiceA"
             android:exported="false" >
         </service>
        <!-- 加入退屏广告设置-->
        <meta-data
            android:name="loadExitSpot"
            android:value="true"/>

        <!-- 加入视频广告设置-->
        <meta-data
            android:name="loadVideoAd"
            android:value="true"/>

        <meta-data
            android:name="orientation"
            android:value="0"/>

        <meta-data
            android:name="animType"
            android:value="2"/>

        <!--高德地图-->
        <!--<meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ae24a52637ad277fec4e4f3d2563c256" />-->
        <!--debug-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7832c924043c5b617b903e2d9f5caa4a"/>

        <!--360广告-->
        <!--<service
            android:name="com.mediav.ads.sdk.service.MvService"
            android:enabled="true"
            android:exported="false">
        </service>-->

    </application>

</manifest>
